include ../mixins/_section-title
include ../mixins/_pagination
include ../mixins/_section
include ../data/_goods

doctype html
html
	head
		include ../patrials/_head
	body
		block header
		block main
		block footer