.basket {
	
}

.basket__header {
	display: flex;
	border: 1px solid $border_color;
	white-space: nowrap;
}

.basket__body {
	border: 1px solid $border_color;
	border-top: none;
	border-bottom: none;
	position: relative;
}

.basket__footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-top: 15px;
	margin-bottom: 15px;
}

.basket__item {
	display: flex;
	border-bottom: 1px solid $border_color;
	&:last-of-type {
		border-bottom: none;
	}
}


.basket__col {
	width: 10%;
	display: flex;
	align-items: center;
	padding: 20px;
	border-right: 1px solid $border_color;
	&:last-of-type {
		border-right: none;
	}
}

.basket__img {
	background-size: 75% auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.basket__img_header {

}

.basket__name {
	width: 45%;
}

.basket__counter {
	justify-content: center;
	.counter {
		width: 40px;
	}
}

.basket__price {
	justify-content: center;
}

.basket__sum {
	justify-content: center;
	width: 15%;
}

.basket__delete {
	position: relative;
}

.basket__link {

}

.basket__link_delete {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: #444;
	cursor: pointer;
	&:hover {
		background-color: #666666;
		color: #fff;
	}
}

.basket__link_name {
	color: $main_site_color;
	&:hover {
		color: $hover_site_color;
	}
}

.basket__total {
	text-align: right;
	font-size: 1.5rem;
	font-weight: 700;
	margin-right: 15px;
}

.basket__submit {
	text-transform: uppercase;
	padding: 15px;
	cursor: pointer;
	background-color: $main_site_color;
	border: none;
	color: #fff;
	&:hover {
		background-color: $hover_site_color;
	}
}

.basket__loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(#444, 0.5);
	color: #444;
	text-align: center;
}

@media all and (max-width: 1400px) {
	
}

@media all and (max-width: 975px) {
	.basket__col {
		width: 15%;
	}

	.basket__name {
		width: 25%;
	}
}

@media all and (max-width: 650px) {
	.basket__header {
		display: none;
	}

	.basket__body {
		border: none;
	}

	.basket__item {
		flex-flow: row wrap;
		border: 1px solid $border_color;
		align-items: center;
		margin-bottom: 15px;
		&:last-of-type {
			border-bottom: 1px solid $border_color;
		}
	}

	.basket__col {
		border: none;
		padding: 10px;
		display: block;
	}

	.basket__img {
		flex: 1 0 100%;
		min-height: 200px;
		border-bottom: 1px solid $border_color;
	}

	.basket__name {
		flex: 1 0 100%;
	}

	.basket__price {
		display: none;
	}

	.basket__counter {
		.counter {
			font-size: 1.5rem;
			width: 60px;
		}
	}

	.basket__sum {
		flex: 1;
		text-align: right;
		color: $main_site_color;
		font-weight: 700;
		font-size: 1.5rem;
	}

	.basket__delete {
		flex: 1 0 100%;
		height: 50px;
		background-color: #fff;
		border-top: 1px solid $border_color;
	}

	.basket__link_delete {
		color: #444;
		&:hover {
			background-color: #666666;
			color: #fff;
		}
	}

	.basket__footer {
		flex-direction: column;
		align-items: flex-start;
	}

	.basket__total {
		margin-bottom: 15px;
	}

	.basket__btn {
		width: 100%;
		text-align: center;
	}
}