.feedback {
	margin-bottom: 15px;
}

.feedback__map {
	min-height: 400px;
	margin-bottom: 15px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.feedback__box {
	
}

.feedback__title {
	display: block;
	font-size: 1.285714285714286rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.feedback__list {

}

.feedback__item {
	margin-bottom: 5px;
}

.feedback__bold {
	font-weight: 700;
}

.feedback__link {
	color: $main_site_color;
	&:hover {
		color: $hover_site_color;
	}
}

@media all and (max-width: 1400px) {
	
}

@media all and (max-width: 975px) {
	.feedback__map {
		min-height: 300px;
		background-size: cover;
	}
}

@media all and (max-width: 650px) {
	
}