.navbar {
	position: relative;
}

.navbar_bottom {
	padding: 0 15px;
}

.navbar__list {
	flex: 1;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar__sublist {
	display: none;
	position: absolute;
	z-index: 2000;
	top: 40px;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #3a3a3a;
}

.navbar__list_bottom {
	display: block;
	color: #000;
}

.navbar__item {
	position: relative;
	&:hover {
		.navbar__sublist {
			display: block;
		}
		.navbar__link {
			background-color: #777777;
		}
		.navbar__link_bottom {
			background-color: #ffffff;
		}
	}
}

.navbar__subitem {
	
}

.navbar__item_bottom {
	margin-bottom: 10px;
}

.navbar__link {
	display: block;
	padding: 12px 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	border-left: 1px solid #555555;
	cursor: pointer;
}

.navbar__sublink {
	display: block;
	padding: 12px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	white-space: nowrap;
	&:hover {
		background-color: #4c4c4c;
	}
}

.navbar__link_active {
	background-color: #666666;
}

.navbar__link_bottom {
	text-transform: none;
	font-weight: 400;
	color: #000;
	border: none;
	padding: 0;
	&:hover {
		color: $main_site_color;
	}
}

.navbar__bars {
	display: none;
	flex: 1;
	color: #fff;
	font-size: 1.5rem;
	padding-top: 8px;
	min-height: 40px;
}

@media all and (max-width: 1400px) {
	
}

@media all and (max-width: 975px) {
	
	.navbar__list {
		display: none;
		z-index: 1500;
		flex-flow: column;
		position: absolute;
		top: 53px;
		width: 100%;
		background-color: #444444;
	}

	.navbar__list_active {
		display: flex;
	}

	.navbar__bars {
		display: block;
		font-size: 2rem;
		padding: 10px 15px;
	}

	.navbar__link {
		border-bottom: 1px solid #555555;
		border-left: none;
		padding: 18px 15px;
		&:hover {
			background-color: #666666;
		}
	}

	.navbar__item {
		&:hover {
			.navbar__sublist {
				display: block;
				width: 100%;
				position: relative;
				top: 0;
			}
		}
	}
	
}

@media all and (max-width: 650px) {

}