.main.wrapper
	.main__slider
		include ../../components/_slider
	.main__wrapper
		.main__sidebar-wrapper
			.main__sidebar
				+section(goods, 2, true, "Лучшее")
				include ../../components/_faq
				include ../../components/_brands
		.main__content-wrapper
			.main__content
				+section(goods, 0, false, "Смартфоны")
				+section(goods, 0, false, "Планшеты")
				+section(goods, 0, false, "Фототехника")
	.main__slogans
		include ../../components/_slogans