.main.wrapper
	.main__slider
		include ../../components/_slider
	.main__wrapper
		.main__sidebar-wrapper
			.main__sidebar
				include ../../components/_catalog-list-sidebar
				include ../../components/_faq
				include ../../components/_brands
		.main__content-wrapper
			.main__content
				include ../../components/_catalog-list-content
				include ../../components/_catalog-list-content
				include ../../components/_catalog-list-content
	.main__slogans
		include ../../components/_slogans