.catalog-detail
	.catalog-detail__header
		.catalog-detail__carousel
			include _carousel
		.catalog-detail__about
			h1.catalog-detail__title Acer Aspire 2015
			.catalog-detail__subtitle Характеристики
			.catalog-detail__props
				.catalog-detail__prop
					.catalog-detail__prop-name Вес:
					.catalog-detail__prop-value 80 гр.
				.catalog-detail__prop
					.catalog-detail__prop-name Высота:
					.catalog-detail__prop-value 30 см.
				.catalog-detail__prop
					.catalog-detail__prop-name Ширина:
					.catalog-detail__prop-value 40 см.
				.catalog-detail__prop
					.catalog-detail__prop-name Объем:
					.catalog-detail__prop-value 0.25 л.
			.catalog-detail__subtitle О товаре
			.catalog-detail__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur dolores eum corporis minus alias adipisci, quia nostrum odio culpa maiores itaque nihil, architecto quo, ipsa molestias eaque qui molestiae labore debitis fugit voluptatem. Culpa consectetur rem ratione eveniet voluptate unde optio, nesciunt aperiam ducimus sit nostrum cupiditate delectus! Perspiciatis, soluta!
			.catalog-detail__price-box
				.catalog-detail__price 5900 лей
				.catalog-detail__quantity В наличии 