ul.controls
	li.controls__item
		a.controls__link Сигурко Глеб
		ul.controls__sublist
			li.controls__subitem
				a.controls__link Кабинет
			li.controls__subitem
				a.controls__link Выйти
ul.controls
	li.controls__item
		a.controls__link
			.controls__icon
			.
				RU
		ul.controls__sublist
			li.controls__subitem
				a.controls__link
					.controls__icon
					.
						RO
			li.controls__subitem
				a.controls__link
					.controls__icon
					.
						EN
ul.controls
	li.controls__item
		a.controls__link MDL
		ul.controls__sublist
			li.controls__subitem
				a.controls__link USD
			li.controls__subitem
				a.controls__link EUR