.newsletter
	.newsletter__desc
		span.fa.fa-stack.fa-2x
			i.fa.fa-circle-thin.fa-stack-2x
			i.fa.fa-envelope.fa-stack-1x
		span.newsletter__title Подпишись на нашу рассылку
	form.newsletter__form
		input.newsletter__input(placeholder="Введите свой e-mail")
		input.newsletter__button(type="submit" value="Подисаться")