$main_site_color: #00aeef;
$hover_site_color: darken($main_site_color, 7);
$main_site_font: "Open Sans", sans-serif;
$main_site_padding: 30px;

$main_text_color: #444444;
$small_text_color: #9f9f9f;
$headers_text_color: #000000;

$main_text_size: 14px;
$small_text_size: 0.8571428571428571rem;
$h6_text_size: 1.142857142857143rem;
$h5_text_size: 1.285714285714286rem;
$h4_text_size: 1.428571428571429rem;
$h3_text_size: 1.714285714285714rem;
$h2_text_size: 2rem;
$h1_text_size: 2.285714285714286rem;

$border_color: #dddddd;

@media all and (max-width: 1400px) {
	
}

@media all and (max-width: 975px) {
	
}

@media all and (max-width: 650px) {

}