footer.footer
	.footer__top
		.wrapper.footer__top-wrapper
			.footer__social
				include ../components/_social
			.footer__newsletter
				include ../components/_newsletter
	.footer__middle
		.wrapper.footer__middle-wrapper
			.footer__desc
				h1.footer__desc-title Магазин на 1С:Битрикс
				h3.footer__desc-subtitle Все что вам нужно в одном месте
				p.footer__desc-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores labore quasi ipsam officia velit consequatur natus nam itaque minus ratione iure tempora in nostrum quidem impedit
			.footer__navbar
				include ../components/_navbar-bottom
			.footer__navbar
				include ../components/_navbar-bottom
			.footer__contactus
				h2.footer__contactus-title Свяжитесь с нами
				p.footer__contactus-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae fugiat libero similique, perferendis ut cumque sed ad reiciendis veritatis nostrum. Harum voluptates repudiandae inventore quo.
				.footer__contactus-pays
					i.fa.fa-cc-visa.fa-4x
					i.fa.fa-cc-paypal.fa-4x
					i.fa.fa-cc-mastercard.fa-4x
	.footer__bottom
		.wrapper.footer__bottom-wrapper
			.footer__rights All Rights Reserved.	