meta(charset="utf-8")
meta(content="width=device-width, initial-scale=1.0" name="viewport")
link(href="fonts/OpenSans/opensans.css" rel="stylesheet")
link(href="fonts/FontAwesome/css/font-awesome.min.css" rel="stylesheet")
link(href="css/style.css" rel="stylesheet")