header.header
	.header__top
		.wrapper.header__top-wrapper
			.header__switch
				.header__lang
					span.header__controls-name Язык:
					include ../components/_control-lang
				.header__currency
					span.header__controls-name Валюта:
					include ../components/_control-currency
			.header__auth
				include ../components/_control-auth
	.header__middle
		.wrapper.header__middle-wrapper
			.header__logo
				include ../components/_logo
			.header__search
				include ../components/_search
			.header__phone
				include ../components/_phone
	.header__bottom
		.wrapper.header__bottom-wrapper
			.header__navbar
				include ../components/_navbar
			.header__basket
				include ../components/_small-basket