header.header
	.header__top
		.wrapper.header__top-wrapper
			include ../components/_controls
	.header__middle
		.wrapper.header__middle-wrapper
			.header__logo
				include ../components/_logo
			.header__search
				include ../components/_search
			.header__phone
				include ../components/_phone
	.header__bottom
		.wrapper.header__bottom-wrapper
			.header__navbar
				include ../components/_navbar
			.header__basket
				include ../components/_small-basket