mixin pagination(position, align, view)
	.pagination(class="pagination_" + position + " pagination_" + align)
		if view
			.pagination__box.pagination__box_view
				a.pagination__view.pagination__view_box.pagination__view_active
					i.fa.fa-th
				a.pagination__view.pagination__view_list
					i.fa.fa-th-list
		.pagination__box.pagination__box-page
			a.pagination__page.pagination__page_active 1
			a.pagination__page 2
			a.pagination__page 3
			a.pagination__page.pagination__page_next
				i.fa.fa-angle-right