mixin section-title(name)
	.section-title(style='background-image: url("/images/slider_bg.png")')
		.section-title__img-box
			img.section-title__img(src='/images/product_1_big.png')
		.section-title__desc-box
			h1.section-title__title= name
			p.section-title__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae architecto hic modi impedit nemo quam culpa ipsam qui, soluta ut, eaque atque, minus consequatur minima.