- 
	var carousel = [
	{
		"src": '/images/product_1_big.png',
		"active": true
	},
	{
		"src": '/images/product_3.png',
		"active": false
	},
	{
		"src": '/images/product_4.png',
		"active": false
	}]