- 
	var faqs = [
	{
		"question": 'Как заказать?',
		"answer": 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.'
	},
	{
		"question": 'Как заказать?',
		"answer": 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.'
	},
	{
		"question": 'Как заказать?',
		"answer": 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.'
	},
	{
		"question": 'Как заказать?',
		"answer": 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.'
	},
	{
		"question": 'Как заказать?',
		"answer": 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.'
	}]