- 
	var goods = [
	{
		img: '/images/product_1.png',
		title: 'Samsung NX2000',
		price: '9999 лей',
		category: 'Камеры',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_2.png',
		title: 'Samsung Galaxy S4',
		price: '4999 лей',
		category: 'Смартфоны',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_3.png',
		title: 'iPad Air 2 16GB Black',
		price: '8200 лей',
		category: 'Планшеты',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_5.jpg',
		title: 'IPhone 7',
		price: '17499 лей',
		category: 'Смартфоны',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_6.png',
		title: 'iPad Air 2 16GB White',
		price: '8200 лей',
		category: 'Планшеты',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_7.png',
		title: 'GoPro HD HERO3',
		price: '5000 лей',
		category: 'Камеры',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_8.png',
		title: 'Sony PlayStation 4 Black',
		price: '9000 лей',
		category: 'Игровые приставки',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},
	{
		img: '/images/product_1_big.png',
		title: 'Nikon 1 V2 Kit',
		price: '10000 лей',
		category: 'Камеры',
		desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: 'catalog-detail.html'
	},]