- 
	var current_lang = 0;	
	var langs = [
		{
			name: 'Русский',
			url: 'images/ru.gif'
		},
		{
			name: 'Romana',
			url: 'images/ro.gif'
		},
		{
			name: 'English',
			url: 'images/en.gif'
		}];