- 
	var pages = [
	{
		name: 'Главная',
		href: 'index.html'
	},
	{
		name: 'Каталог',
		href: 'sections.html',
		items: [
		{
			name: 'Электроника',
			href: 'section.html'
		},
		{
			name: 'Сантехника',
			href: 'section.html'
		},
		{
			name: 'Химия',
			href: 'section.html'
		}]
	},
	{
		name: 'Новости',
		href: 'news.html'
	},
	{
		name: 'О нас',
		href: 'about.html'
	},
	{
		name: 'Контакты',
		href: 'contacts.html'
	}]