- 
	var pages = [
	{
		name: 'Главная',
		href: 'index.html'
	},
	{
		name: 'Каталог',
		href: '',
		items: [
		{
			name: 'Электроника',
			href: 'catalog-list.html'
		},
		{
			name: 'Сантехника',
			href: 'catalog-list.html'
		},
		{
			name: 'Химия',
			href: 'catalog-list.html'
		},
		{
			name: 'Бытовая техника',
			href: 'catalog-list.html'
		},
		{
			name: 'Спортивная одежда',
			href: 'catalog-list.html'
		}]
	},
	{
		name: 'Новости',
		href: 'news-list.html'
	},
	{
		name: 'Контакты',
		href: 'contacts.html'
	}]