- 
	var slides = [
	{
		img: '/images/product_1_big.png',
		title: 'Slide 1',
		subtitle: 'Лучший товар в этом месяце',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: '#',
	},
	{
		img: '/images/product_3.png',
		title: 'Slide 2',
		subtitle: 'Лучший товар в этом месяце',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: '#',
	},
	{
		img: '/images/product_2.png',
		title: 'Slide 3',
		subtitle: 'Лучший товар в этом месяце',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: '#',
	},
	{
		img: '/images/product_1.png',
		title: 'Slide 4',
		subtitle: 'Лучший товар в этом месяце',
		text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea itaque atque omnis iure nemo porro qui odit recusandae similique, quibusdam assumenda, molestiae quae tenetur inventore, ab doloremque suscipit adipisci sit vel sapiente ex. Itaque voluptate obcaecati at, pariatur quo temporibus ex praesentium ea repellat deleniti quos qui, reprehenderit nam blanditiis.',
		link: '#',
	}]