- 
	var slogans = [
	{
		title: 'Бесплатная доставка',
		subtitle: 'На все товары',
		img: 'images/freeshiping.png'
	},
	{
		title: '100% Удовлетворения',
		subtitle: 'Гарантировано',
		img: 'images/satisfaction.png'
	},
	{
		title: 'Грандиозные скидки',
		subtitle: 'Успей купить!',
		img: 'images/present.png'
	}]