- 
	var socials = [
	{
		class: 'fa fa-facebook fa-2x',
		href: '#'
	},
	{
		class: 'fa fa-twitter fa-2x',
		href: '#'
	},
	{
		class: 'fa fa-rss fa-2x',
		href: '#'
	},
	{
		class: 'fa fa-google-plus fa-2x',
		href: '#'
	},
	{
		class: 'fa fa-pinterest-p fa-2x',
		href: '#'
	}]