.footer {
	flex: 0 0 auto;
	margin-top: 20px;
}

.footer__top {
	background-color: #444444;
}

.footer__middle {
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer__bottom {
	background-color: #dddddd;
}

.footer__top-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.footer__middle-wrapper {
	width: 100%;
	display: flex;
}

.footer__bottom-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.footer__social {
	flex: 1;
}

.footer__newsletter {
	flex: 3;
}

.footer__desc-wrapper {
	flex: 1;
}

.footer__desc {
	padding-right: 15px;
}

.footer__desc-title {
	margin: 5px 0 15px;
}

.footer__desc-text {
	line-height: 1.5;
}

.footer__navbar {
	flex: 1;
}

.footer__contactus {
	padding-left: 15px;
}

.footer__contactus-wrapper {
	flex: 1;
}

.footer__contactus-title {
	margin: 5px 0 15px;
}

.footer__contactus-text {
	line-height: 1.5;
}

.footer__contactus-pays {
	i {
		margin-right: 10px;
	}
}

.footer__navbar, .footer__contactus-wrapper {
	border-left: 1px solid $border_color;
}

.footer__rights {
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer__rights__link {
	color: $main_site_color;
	&:hover {
		color: $hover_site_color;
	}
}

.footer__title {
	color: #444;
	margin: 5px 0 15px 15px;
}

@media all and (max-width: 1400px) {
	
}

@media all and (max-width: 975px) {
	.footer__top {
		background-color: #3a3a3a;
	}

	.footer__contactus {
		border-left: none;
	}

	.footer__desc {
		margin-bottom: 15px;
	}

	.footer__navbar {
		display: none; 
	}

	.footer__newsletter {
		display: none;
	}
}

@media all and (max-width: 650px) {
	
	.footer__desc-wrapper {
		flex-basis: 100%;
	}

	.footer__desc {
		padding: 0;
	}

	.footer__contactus-wrapper {
		display: none;
	}
}