.main {
	flex: 1 0 auto;	
}

.main__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.main__sidebar-wrapper {
	flex: 1;
}

.main__content-wrapper {
	flex: 3;
}

.main__sidebar {
	
}

.main__content {
	padding-left: 15px;
}

.main__slogans {
	margin-top: 10px;
	margin-bottom: 20px;
}

@media all and (max-width: 1400px) {
	
}

@media all and (max-width: 975px) {
	.main__slider {
		display: none;
	}

	.main__wrapper {
		flex-direction: column;
	}

	.main__sidebar-wrapper {
		flex: 1;
		order: 2;
	}

	.main__content-wrapper {
		flex: 3;
		order: 1;
	}

	.main__content {
		padding-left: 0;
	}

	.main__slogans {
		display: none;
	}
}

@media all and (max-width: 650px) {
	
}